.pitchImg {
    width: 150px;
    height: 180px;
    margin: 0px auto;
    border: 5px solid black;
    background: transparent;
    overflow: hidden;
    background-size: cover;
}
.pitchig {
    width: 80px;
    transform: scale(3.5);
    margin: 100px 40px;
    background-size: cover;
}
.pitchimg {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}
.devrat {
    display: none;
}
/* small view */
@media only screen and (max-width: 60rem) {
    .pitchimg {
        display: none;
    }
    .devrat {
        display: flex;
        margin: 30px 50px 0px 10px;
        justify-content: space-between;
    }
    .position {
        font-size: 16px;
    }
}