.f1 {
    padding-bottom: 20px;
}
.fl:hover {
    text-decoration: underline;
}
.fl a {
    color: #26A69A;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 100;
}

/* Small view */
@media only screen and (max-width: 60rem) {
    ::-webkit-scrollbar {
        display: none;
    }
    .fl a {
        font-size: 5vw;
    }
}